{% extends 'ecart/basic.html' %}
{%block title%} Ecart- Orders{% endblock %}
 {% block css %}
.list-group{
margin-left:12%;
width:70%;
}
.addressdetails{
margin-left:12%;
width:70%;
}

{% endblock %}

 {%block body%}
<div class="container">
    <h3 style="margin-left:12%">Ecart.com- Please review and confirm your Orders</h3>
   <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cras justo odio
    <span class="badge badge-primary badge-pill">14</span>
  </li>
</ul>
<div class="addressdetails my-4">
 <h3 >Ecart.com- Please review your Address and place Order!</h3>
 <form>
  <div class="form-row my-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" >
    </div>
    <div class="form-group col-md-6">
      <label for="telephone">Phone Number</label>
      <input type="tel" class="form-control" id="telephone" placeholder="PHONE{10 digits}" pattern="[0-9]{10}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input type="text" class="form-control" id="inputState">
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
  </div>
  <div class="form-group">

  </div>
  <button type="submit" class="btn btn-primary">Place Order</button>
</form>
</div>
</div>


 {% endblock %}