{% extends 'ecart/basic.html' %}
{%block title%} Ecart- Orders{% endblock %}
 {% block css %}
.list-group{
margin-left:12%;
width:70%;
}
.addressdetails{
margin-left:12%;
width:70%;
}

{% endblock %}

 {%block body%}
<div class="container">
    <h3 style="margin-left:12%">Ecart.com- Track your Orders</h3>
   <ul class="list-group" id="listprod">

</ul>
<div class="addressdetails my-4">
 
 <form method="post" action='#' id='requeststatus' >
     {% csrf_token%}
    
  <div class="form-row my-3">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email" >
    </div>
    <div class="form-group col-md-6">
      <label for="Order">Order ID</label>
      <input type="name" class="form-control" id="Order" name="orderid">
    </div>
  </div>
     
  
  <button type="submit" class="btn btn-primary" id="submit">Track Order</button>
</form>
</div>
<div class="col my-4">
        <h2 style="margin-left:12%;">Your Order Status</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
              Enter your order Id and Email and click Track Order to find details about your order!
            </ul>
        </div>
    </div>
    <div class="col my-4 cartdetails" id="cartdetails" style="display:none;" >
        <h2 style="margin-left:12%">Your Order Details:</h2>
        <div class="my-4">
            <ul class="list-group" id="cartitems" >
              
            </ul>
        </div>
    </div>

</div>


 {% endblock %}

  {% block js %}
<script>
$('#requeststatus').submit(function(event){
   event.preventDefault();
    $('#items').empty();

    var formdata={
      'orderid':$('input[name=orderid]').val(),
      'email':$('input[name=email]').val(),
      'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
    };

    $.ajax({
      type:"POST",
      url:'/shop/orders/',
      data:formdata,
      encode:true

    })
    .done(function(data){

      //console.log(data)
      updates=JSON.parse(data);
      update=updates[0];

      if(update.length>0 & update!={}){
      for (i = 0; i < update.length; i++) {

        let text=update[i]['text'];
        let time=update[i]['time'];
        console.log(text+time);
        mystr='<li class="list-group-item d-flex justify-content-between align-items-center">'+text+'<span class="badge badge-primary badge-pill">'+time+'</span></li>'
        $('#items').append(mystr);

      }
      } else {
              mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
              $('#items').append(mystr);

    }
    
    updates=JSON.parse(updates[1])
    console.log(updates)
for (item in updates){
      qty=updates[item];
      name=item;
       mystr='<li class="list-group-item d-flex justify-content-between align-items-center">'+name+'<span class="badge badge-primary badge-pill">'+qty+'</span></li>'
     $('#cartitems').append(mystr);
    }
   $('#cartdetails').show();


});

    

})


</script>

{% endblock %}

